.horizont {

    max-width: 1200px;

}

body {
    background-color: #13071D;
    margin: 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(images/fon.jpg);

}

.men {

    font-weight: 100;

}

.end {
    font-weight: 1000;
    font-family: Source Sans Variable;
    text-align: center;
    color:white;

}

.davinci {

    font-size:20px;

}

.images{
    height: 300px;
    transition: 0.5s;
}

.images:hover {

    height: 500px;

}

.five {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;

}

.det {
    font-weight: 700;
    color: white;
    font-size: 20px;

}

.four {

    font-weight: 700;
    text-align: center;
    color: white;

}

.threedet {

    color:white;
    font-size: 20px;
}

.liniyka {
    margin: 20px;
    color:white;    
    font-size: 20px;

}

.header{

    font-family:arial;
    font-size: 30;

}



.mandk {

    transition: 0.5s all;
}

.mandk:hover {

    block-size: 500px;
    
}

.onedet {

    font-size:18px;

}

.one {
    text-align: center;
    font-size: 20;
    font-family: arial;
    color: white;

}

.abak {


    transition: 0.5s all;

}

.abak2{

    font-size:20px

}

.abak:hover {

height: 400px;

}


.two {
    
    
    text-align: center;
    color:white;

}


.adet {

    font-size: 20px;
}

.images {


    margin-left: 40%;

}


.three {

    text-align: center;

}

.abak{

    transition: 0.5s;

}

.abak:hover{

    size:200px;

}